section{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    table{
        width: 200px;
        background-color: rgba(165, 156, 156, 0.432);
        border-radius: 6px;
        padding: 10px;
        th{
            width: 50%;
        }
    }
}